<block xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="signupmodal"
         class="modal fade"
         id="signupmodal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p th:text="${successmsg}"></p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
</block>