<!--https://mdbootstrap.com/docs/standard/extended/login/#section-basic-example-->

<section th:fragment="loginform"
         xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body px-5 py-2 text-center">

                        <h4 class="m-3">Sign in</h4>
                        <!--                        <form method="post" th:action="@{/signup}">-->
                        <!--                            <input name="username"/>-->
                        <!--                            <input name="password"/>-->
                        <!--                            <input type="submit" class="btn btn-secondary"/>-->
                        <!--                        </form>-->

                        <form method="post" th:action="@{/signin}">
                            <div class="form-outline mb-2">
                                <input type="text" name="username" class="form-control form-control-lg"/>
                                <label class="form-label">Username</label>
                            </div>

                            <div class="form-outline mb-2">
                                <input type="password" name="password" class="form-control form-control-lg"/>
                                <label class="form-label">Password</label>
                            </div>
                            <th:block th:if="${param.error !=null}">
                                <p class="error">
                                Something went wrong. Either Username or Password was incorrect.</p></th:block>

                            <button class="btn btn-secondary btn-lg btn-block mb-3" type="submit">Sign in</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>