<section th:fragment="signupform"
         xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body px-5 py-2 text-center">

                        <h4 class="m-3">Sign up</h4>
                        <form method="POST" th:action="@{/signup}" th:object="${user}">
                            <div class="form-outline mb-2">
                                <input th:type="text" th:field="*{username}" class="form-control form-control-lg"/>
                                <label class="form-label">Username</label>
                            </div>

                            <div class="form-outline mb-2">
                                <input th:type="email" th:field="*{email}" class="form-control form-control-lg"/>
                                <label class="form-label">Email</label>
                            </div>

                            <div class="form-outline mb-2">
                                <input th:type="password" th:field="*{password}" class="form-control form-control-lg"/>
                                <label class="form-label">Password</label>
                            </div>

                            <div class="form-outline mb-2">
                                <input th:type="password" th:field="*{matchingPassword}" class="form-control form-control-lg"/>
                                <label class="form-label">Confirm Password</label>
                            </div>
                            <button class="btn btn-secondary btn-lg btn-block mb-3" type="submit">Sign up</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>