<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">

<head th:include="fragments/head :: head">
</head>

<div layout:fragment="pageContent">

    <form action="#" th:action="@{/profilepage/edit}" th:object="${profile}" method="post">
        <div class="input-group mb-3 w-25">

            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <input type="text"
                       th:value="${profile.description}"
                       name="description"
                       class="form-control"
                       id="bio" aria-describedby="bioHelp">
                <div id="bioHelp" class="form-text">Max 255 characters.</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text"
                       th:value="${profile.email}"
                       name="email"
                       class="form-control"
                       id="email">
            </div>

            <div class="mb-3">
                <label for="phoneNr" class="form-label">Phone Number</label>
                <input type="text"
                       th:value="${profile.phoneNr}"
                       name="phoneNr"
                       class="form-control"
                       id="phoneNr">
            </div>

            <div class="mb-3">
                <label for="companyRole" class="form-label">Company Role</label>
                <input type="text"
                       th:value="${profile.companyRole}"
                       name="companyRole"
                       class="form-control"
                       id="companyRole">
            </div>

        </div>
        <button type="submit" class="btn btn-secondary">Save</button>
    </form>
</div>
</html>