<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"


      layout:decorate="~{main}">

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div layout:fragment="pageContent">
    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="home.html" th:href="@{/home}">Back to Home Page</a>
</div>
</body>
</html>