<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <img src="../img/6f4a6371837d4cc59fd9292ce3e7c0be.png" alt="logo" title="Postr brand" width="40"
                 height="40">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                aria-current="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mx-2">

                <li th:unless="${#httpServletRequest.remoteUser}"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/signin' ? 'active':''}"
                    class="nav-item px-1">
                    <a class="nav-link" th:href="@{/signin}">Sign in</a>
                </li>

                <li th:unless="${#httpServletRequest.remoteUser}"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/signup' ? 'active':''}"
                    class="nav-item px-1">
                    <a class="nav-link" th:href="@{/signup}">Sign up</a>
                </li>

                <li th:if="${#httpServletRequest.remoteUser}"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/userlistpage' ? 'active':''}"
                    class="nav-item px-1">
                    <a class="nav-link" th:href="@{/userlistpage}">User List</a>
                </li>

                <li th:if="${#httpServletRequest.remoteUser}"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/timeline' ? 'active':''}"
                    class="nav-item px-1">
                    <a class="nav-link" th:href="@{/timeline}">Timeline</a>
                </li>

                <li th:if="${#httpServletRequest.remoteUser}"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/profilepage' ? 'active':''}"
                    class="nav-item px-1">
                    <a class="nav-link" th:href="@{/profilepage/{username}(username=${#httpServletRequest.remoteUser})}">Profile</a>
                </li>
                <li th:if="${#httpServletRequest.remoteUser}" class="nav-item px-1">
                    <form th:action="@{/logout}" method="post">
                        <input class="nav-link" type="submit" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="m-5 p-5" layout:fragment="pageContent"></div>
<footer class="bg-dark text-center text-white mt-auto">
    <div class="container p-1 pb-0">
        <section>
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://linkedin.com/in/viktor-salmberg/"
               target="_blank"
               rel="noopener noreferrer"
               role="button"><i class="bi bi-linkedin"></i></a>

            <a class="btn btn-outline-light btn-floating m-1"
               href="https://github.com/Norrlandsk"
               target="_blank"
               rel="noopener noreferrer"
               role="button"
            ><i class="bi bi-github"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="/home">Salmberg Solutions</a>
    </div>

</body>
</html>


