<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">

<head th:include="fragments/head :: head">
</head>

<div layout:fragment="pageContent">
    <h1>Timeline Page</h1>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <br>
    <h3>Create Post</h3>
    <form action="#" th:action="@{/timeline/post}" th:object="${post}" method="post">
        <input type="text" field="*{heading}" name="heading">
        <input type="text" field="*{body}" name="body">
        <p><input type="submit" value="Save"/></p>
    </form>
    <br><br>
    <div th:replace="fragments/post :: posts(${postList})"></div>
</div>

</html>